@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

p,
h1 {
  font-family: 'Inter';
}
.width {
  width: 95%;
}
.mediumscreen {
  align-items: center;
  background-color: #ff9c06;
  border-radius: 3px;
  box-shadow: 0 1px 50px 0 rgba(33, 51, 67, 0.12);
  flex-direction: column;
  justify-content: center;
  left: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 4vh;
  transition: all 0.5s linear;
  width: calc(100% - 20px);
  z-index: 2;
  height: 200px;
  font-family: Montserrat;
  color: black;
  text-transform: capitalize;
  padding: 1.3rem;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  margin: 0.5rem;
  font-size: 27px;
  color: #000000;
  cursor: pointer;
}
.eachrest{
  background-image: url(../public/ttttt.png);
  height: 200px;
  /* background-color: red; */
}
.smallside {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  /* background-color: white; */
  /* width: 70%; */
  /* height: 100vh; */

  animation: showmenu 300ms ease forwards;
}
@keyframes showmenu {
  to {
    left: 0;
  }
}
.closee {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  font-size: 20px;
  /* color:#8695A0; */
  cursor: pointer;
}