@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

p,
h1 {
  font-family: 'Inter';
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* height: 6px; */
}

::-webkit-scrollbar-thumb {
  background-color: red;
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;

}

.width {
  width: 95%;
}
.mediumscreen {
  background-color: #ff9c06;
  border-radius: 3px;
  box-shadow: 0 1px 50px 0 rgba(33, 51, 67, 0.12);
  flex-direction: column;
  left: -100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s linear;
  width: 70%;
  z-index: 2;
  height: 100vh;
  font-family: Montserrat;
  color: white;
  text-transform: capitalize;
  padding: 1.3rem;
  animation: showmenu 300ms ease forwards;
}
.mediumscreenn {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 50px 0 rgba(33, 51, 67, 0.12);
  flex-direction: column;
  left: -100%;
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  transition: all 0.5s linear;
  width: 40%;
  z-index: 2;
  min-height: 100vh;
  font-family: Montserrat;
  row-gap: 1.6rem;
  color: black;
  text-transform: capitalize;
  padding: 1.3rem;
  animation: showmenu 300ms ease forwards;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  margin: 0.5rem;
  font-size: 27px;
  color: white;
  cursor: pointer;
}
.closee {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  margin: 0.5rem;
  font-size: 27px;
  color: black;
  cursor: pointer;
}
.eachrest {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(/Rectangle\ 154.png);
  /* height: 200px; */
  /* background-color: red; */
}
.bgsideebar {
  background-image: url(/Rectangle\ 87.png);
}
.smallside {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  /* background-color: white; */
  /* width: 70%; */
  /* height: 100vh; */

  animation: showmenu 300ms ease forwards;
}
@keyframes showmenu {
  to {
    left: 0;
  }
}
.clientDashboard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(/Rectangle\ 173.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.closee {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  font-size: 20px;
  /* color:#8695A0; */
  cursor: pointer;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}
.loader{
  width:100%;
  height: 100vh;
  background-color: #E1efff3f;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.vendoritembtn .css-12i3490-MuiButtonGroup-root .MuiButtonGroup-firstButton{
  border-color: #218B07;
}
/* .css-bx4uh6-MuiPopper-root {
  transform: translate(0, 0) !important;
} */
/* .addsub .css-154xyx0-MuiInputdBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    /* outline: none; 
    border-color: transparent !important; Optional: Set the border color to transparent to remove any remaining border
} */