
@media (max-width:1200px){
	.banner__right { display:none; }
	.banner__left { width: 25%; }
	.banner__middle { width:75%; }
	.banner__dropdown__menu{width:75%; left: 24%;}
}

@media (max-width:978px){

	.header-bottom{ width:95%;}
	.home__banner__wrapper{ padding:0px; margin-top:100px; height:40vh; }
	.home__category, .spacing__left__default{ padding-inline: 15px; }
}

@media(max-width:768px){
	.header { height: 100px}	
	.topdiv{padding: 15px 20px; gap: 14px}
	.d__lg__none{ display:inline-block; }
	.d__lg__show { display:none; }
	.header-bottom{ width:100%; padding-inline:20px; height:100%; }
	.body__content{ height: calc(100vh - 100px); margin-top:100px; }
	.sidebar, .nav__menu { position:fixed; top:0; height: 100vh; z-index: 999;width: 100%; padding: 50px 25px; left: -100%; transition: all 1s ease;}
	:is(.sidebar, .nav__menu).open { left:0; }
	.sidebar__list{ gap:30px; font-size:1.3rem; }
	.nav__menu {flex-direction: column; background: var(--color-main1); gap:40px; align-items: flex-start; color: var(--color-white); padding-left: 25px;}
	.close__icon{ position:absolute; top: 20px; right:20px; font-size:2rem; }
	.list-box > div{ padding-inline:5px; }
	.body__content__main { padding-inline: 20px; }
	.banner__left{ display:none; }
	.banner__middle { width:100%; }
	.body__content__home .row__lists__stretched > div:last-child .p__40{ padding-inline:20px;  }

	.home__category__img__box{ width:  90px; height: 90px;}
	.home__recommended__img { height:250px;}

	/*.home__offer__img { height:350px;}*/

}